#add-files-dialog {
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}
.file-list {
	display:inline-block;
}

.file-list ul {
    list-style-type: none;        
    list-style:none;
    padding-left:0;  
} 

.file-list li {
        border: 1px dotted #999;
        border-width: 1px 0;
        margin: 5px 0;
}
.file-list li:hover {
        background: #E3E3CC;
    }

#loginContainer {
	display:none;
}
 h1, h2, h3, h4, h5, h6 {
 	color: #666f77;
	font-weight: 300;
	line-height: 1em;
	margin: 0 0 1em 0;
	text-transform: uppercase;
	letter-spacing: 0.125em;
}

h2 {
	font-size: 1.5em;
	line-height: 1.5em;
}

h3 {
	font-size: 1.25em;
	line-height: 1.5em;
}

h4 {
	font-size: 1em;
	line-height: 1.5em;
}

h5 {
	font-size: 0.9em;
	line-height: 1.5em;
}

h6 {
	font-size: 0.7em;
	line-height: 1.5em;
}